.App {
  text-align: center;

}

.Notes {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 25px;
  margin-left: 25px;
}

.Main {
  display: flex;

}

.Note {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;

}

.Close {
  float: right;
  height: 30px;
  padding-left: 25px;
  font-size: 12px;
}